@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
:root{
    --primary-color:crimson;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Poppins', sans-serif;
    color: crimson;
} 

h1 {
    font-size: 30px;
    font-weight: 500 bold;
    text-transform: uppercase;
    letter-spacing: 0.0138889em;
   
}

p.home-content-p  {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.0138889em;
    color: white;
}
.logo {
    position: absolute;
    top: 25px;
    left: 100px;
    font-size: 2rem;
    font-weight: 700;
    z-index: 20;
}
.btn {
    display: inline-block;
    cursor: pointer;
    background: crimson;
    color: white;
    text-decoration: none;
    padding: 10px 30px;

}
.btn:hover {
    transform:scale(0.98) ;
}

.home-content { 
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

@media(max-width:600px) {
    .logo {
        top:10px;
        left: 40px;
        font-size: 1.5rem;
    }
    .home-content{
        display: none;
    }
    .header {
        max-width: 100vh;
    }
    .header li {
        background-color: black;
        padding-left: 50%;
        font-weight: 800;
        font-size: 1rem;
        
    }
    .about section {
      background-color: crimson;
    }
    .row {
      background-color: crimson;
      padding: 20px;
      flex-direction: column;  
    }
    
}
  
                                        /* HEADER NAV BAR */
.bg-img {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQTL5iKHRk4cFVcrFye0kMBqlt2vf-34rInQ&usqp=CAU");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: var(--primary-color);
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    text-decoration: none;
    color: var(--primary-color);
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: var(--primary-color);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: var(--primary-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .1s ease-out;
    width: 100%;
    
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    
    .header li {
      float: right;
      text-align: center;

    }
    .header li a {
      padding: 20px 30px;
     
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .info {
      
      grid-template-columns: repeat(1,1fr);
      
      
     }
  }
  
                                  /*   ABOUT SECTION */
 
 .info {
  padding-left: 17px;
  padding-right: 17px;
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
  text-align: center;
  
 }

 h3 {
   text-align: center;
   margin:1.5em auto .3em;
   color: black;
   line-height: 1.5rem;
   letter-spacing: 1px;
   font-weight: 600;
 }

 
  p {
    
    justify-content: center;
    text-align: left;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 15px;
    letter-spacing: .4px;
    line-height: 1.6em;
    color: rgba(0,0,0,.5);

 }
 p.about-text {
  text-align: center;
 }


 h3.about-title{
   text-align: left;
 }

                                   /*   DISHES and MENU  */

#menu {
  height: auto;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
img {
  width: 782.843px;
  height: 522px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.image-square {
  width: 100%;
  height: auto;
  padding-top: 17px;
  position: relative;
}
.menu-img {
  padding-left: 30%;
}

footer {
  background-color: black;
  min-height: 200px;
  padding: 100px;
  
}
.gotop {
  text-align: center;
  
}
.gotop a {
  text-decoration: none;
  color: crimson;
}
section {
  padding: 30px;
}
.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 48%;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;

}
.wrapper> * {
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
}
.main {
  text-align: center;
}

@media all and (min-width:800px) {
  .main {
    flex: 2;
  }
  .aside1{
    order:1;
  }

  .main{
    order: 1;
  }
}
@media all and (min-width:600px) {
  .aside{
    flex: 1;
  }
}